:root {
  /**
     * colors
     */

  --primary-color: hsl(213, 17%, 13%);
  --rich-black-fogra-29_a75: hsla(207, 24%, 7%, 0.75);
  --rich-black-fogra-29: hsl(207, 24%, 7%);
  --rich-black-fogra-39: hsl(210, 25%, 5%);
  --light-gray: hsl(206, 8%, 82%);
  --white_a9: hsla(0, 0%, 100%, 0.9);
  --white_a10: hsla(0, 0%, 100%, 1);
  --camel: hsl(27, 34%, 58%);
  --white: hsl(0, 0%, 100%);

  /**
     * gradient
     */

  --gradient: linear-gradient(
    103.56deg,
    #c9509f 0%,
    #7e289a 36.21%,
    #490c97 97.93%
  );

  /**
     * typography
     */

  --ff-electrolize: 'Electrolize', sans-serif;
  --ff-kanit: 'Kanit', sans-serif;

  --fs-1: 5rem;
  --fs-2: 3.2rem;
  --fs-3: 2.4rem;
  --fs-4: 2.2rem;
  --fs-5: 1.6rem;
  --fs-6: 1.3rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  /**
     * spacing
     */

  --section-padding: 70px;

  /**
     * border radius
     */

  --radius-circle: 50%;
  --radius-5: 5px;

  /**
     * transition
     */

  --transition-1: 0.15s ease;
  --transition-2: 0.5s ease;
  --transition-3: 0.75s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}
